:root {
  --clr-primary: hsl(215, 51%, 70%);
  --clr-accent: hsl(178, 100%, 50%);
  --clr-accent-transparent: rgba(0, 255, 247, 0.4);
  --clr-white: hsl(0, 0%, 100%);
  --clr-neutral-1: hsl(215, 32%, 27%);
  --clr-neutral-2: hsl(216, 50%, 16%);
  --clr-neutral-3: hsl(217, 54%, 11%);
  --ff-main: "Outfit";
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fs-1: 1.375rem;
  --fs-2: 1.125rem;
  --fs-3: 1rem;
  --sp-0: 0rem;
  --sp-1: 0.5rem;
  --sp-2: 1rem;
  --sp-3: 1.5rem;
  --lh-1: 1.25;
  --lh-2: 1.45;
  --ls-0: 0px;
  --br-1: 8px;
  --br-2: 15px;
  --border-white: 1px solid var(--clr-white);
  --border-neutral-1: 1px solid var(--clr-neutral-1);
  --desktop-container-width: 21.875rem;
  --card-max-width: 21.875rem;
  --card-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
button {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-5);
  font-weight: var(--fw-normal);
  line-height: 1.5;
  background-color: var(--clr-neutral-3);
  color: var(--clr-primary);
}

main {
  padding-top: 2.1875rem;
}
@media (min-width: 37.5rem) {
  main {
    padding-top: 6.25rem;
  }
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--sp-3));
}

.split {
  display: flex;
}

.split > * {
  width: 100%;
}

.container {
  max-width: var(--desktop-container-width);
  margin-inline: auto;
}

.highlight {
  cursor: pointer;
}
.highlight:hover {
  color: var(--clr-accent);
}

.tp-1 {
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-0);
  font-weight: var(--fw-semi-bold);
}

.tp-2 {
  font-size: var(--fs-2);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-0);
  font-weight: var(--fw-light);
}

.tp-3 {
  font-size: var(--fs-3);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-0);
  font-weight: var(--fw-semi-bold);
}
.tp-3-regular {
  font-weight: var(--fw-regular);
}

.card {
  max-width: var(--card-max-width);
  padding: var(--sp-3);
  background-color: var(--clr-neutral-2);
  box-shadow: var(--card-box-shadow);
  border-radius: var(--br-2);
}

.card__img-container {
  position: relative;
  border-radius: var(--br-1);
  overflow: hidden;
}
.card__img-container:hover > .view-container {
  opacity: 1;
}

.view-container {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--clr-accent-transparent);
}

.card__title {
  color: var(--clr-white);
}

.card__desc {
  --flow-spacer: var(--sp-2);
}

.card__info {
  display: flex;
  justify-content: space-between;
}

.card__info-container {
  display: flex;
  align-items: center;
  gap: var(--sp-1);
}

.card__price {
  color: var(--clr-accent);
}

.card__footer {
  border-top: var(--border-neutral-1);
  padding-top: var(--sp-3);
  display: flex;
  gap: var(--sp-2);
}

.img-avatar {
  width: 33px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--border-white);
}

/*# sourceMappingURL=styles.css.map */
