@use "./utils" as *;

:root {
  --clr-primary: hsl(215, 51%, 70%);
  --clr-accent: hsl(178, 100%, 50%);

  --clr-accent-transparent: rgba(0, 255, 247, 0.4);

  --clr-white: hsl(0, 0%, 100%);

  --clr-neutral-1: hsl(215, 32%, 27%);
  --clr-neutral-2: hsl(216, 50%, 16%);
  --clr-neutral-3: hsl(217, 54%, 11%);

  --ff-main: "Outfit";

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;

  // FONT SIZE
  --fs-1: #{toRem(22px)};
  --fs-2: #{toRem(18px)};
  --fs-3: #{toRem(16px)};

  // SPACING
  --sp-0: #{toRem(0px)};
  --sp-1: #{toRem(8px)};
  --sp-2: #{toRem(16px)};
  --sp-3: #{toRem(24px)};

  // LINE HEIGHT
  --lh-1: 1.25;
  --lh-2: 1.45;

  // LETTER SPACING
  --ls-0: 0px;

  // BORDER RADIUS
  --br-1: 8px;
  --br-2: 15px;

  // BORDERS
  --border-white: 1px solid var(--clr-white);
  --border-neutral-1: 1px solid var(--clr-neutral-1);

  --desktop-container-width: #{toRem(350px)};
  --card-max-width: #{toRem(350px)};

  --card-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
